@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

html,
body {
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
    display: unset;
}

.container {
    width: 220px;
    background-color: white;
    height: 330px;
    text-align: unset;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    float: right;
}

.main-content {
    margin: 95px auto;
    width: 440px;
    height: 330px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 100%;
    display: block;
    border: none;
    padding: 10px 39px;
    margin: 15px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;

}

button:hover {
    cursor: pointer;
    background-color: hsl(158, 46%, 14%);
}

h6 {
    display: inline;
    margin: 5px;
    vertical-align: text-top;
}

.image {
    aspect-ratio: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: 220px 330px;
    display: inline-block;
    width: 220px;
    height: 330px;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    margin: 10px auto 12px auto;
    line-height: 26px;
}

p,
span {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);

}

h2 {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    display: inline;

}

span {
    text-decoration-line: line-through;
    font-size: 10px;
    margin-left: 20px;
    vertical-align: text-top;
}

#head {
    letter-spacing: 5px;
    font-size: 10px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 10px;
    letter-spacing: 0.2px;
    line-height: 17px;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:375px) {

    .image {
        background-image: url("/images/image-product-mobile.jpg");
        background-size: 335px 220px;
        width: 335px;
        height: 220px;
        /* margin: 0 auto; */
        border-top-right-radius: 10px;
        border-bottom-left-radius: unset;
        background-repeat: no-repeat;
        display: block;
    }

    .main-content {
        margin: 30px auto;
        width: 335px;
        height: 550px;
        /* display: none; */
    }

    .container {
        float: inherit;
        width: 335px;
        height: 345px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: unset;

    }

    #head {

        font-size: 12px;

        line-height: 20px;
    }

    h1 {
        font-size: 1.9em;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    h2 {
        font-size: 1.8em;
    }

    span {
        font-size: 12px;
    }

    button {
        width: 90%;
        margin: 15px auto;
        font-size: 18px;
    }
}
